 /* *{
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
}

.enter-img{
    width: 20%;
    height: 40%;
    margin-top: 10%;
}

.enter-container{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.form-container{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.enter-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: x-large;
    text-align: center;
    padding-bottom: 110px;
}

.enter-button{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 90px;
    margin-left: 37%;


}

.enter-login-button{
    margin-bottom: 5%;
    border-radius: 15px;
    border-color: #c334eb;
    background-color: #c334eb;
}

.enter-signin-button{
    border-radius: 15px;
    border-color: #c334eb;
    background-color: #c334eb;
} */




/* <-----------------------------------------------------------------------------------------------------------------> */

 @media screen and (max-width:480px){
    *{
        padding: 0%;
        margin: 0%;
        overflow-x: hidden; 
    }

    .enter-container{
        width: 100%;
        height: 100%;
    }

    .enter-img{
        width: 50%;
        height: 60%;
        border-radius: 200px;
        margin: 35% 0% 20% 27%;
    }

    .enter-welcome{
        display: flex;
        justify-content: center;
        margin: 0% 0% 3% 0%;
    }

    .enter-button{
        display: flex;
        flex-direction: column;
    }

    .enter-login-button{
        width: 300px;
        height: 35px;
        margin-top: 10%;
        margin-left: 12%;
        border-radius: 20px;
        background-color:#c334eb;
        border-color: #c334eb;
        color: white;
        cursor: pointer;

    }

    .enter-signin-button{
        width: 300px;
        height: 35px;
        margin-left: 12%;
        margin-top: 7%;
        border-radius: 20px;
        background-color: #c334eb;
        border-color: #c334eb;
        color: white;
        cursor: pointer;

    }

};  
