@media screen and (max-width:480px){
    *{
        padding: 0%;
        margin: 0%;
    }

    .login-next-page-arrow{
        margin: 5% 0% 0% 7%;
    }

    .login-arrow-back{
        text-decoration: none;
        color: #c334eb;
        font-size: xx-large;
    }

    .login-img{
        width: 90%;
        height: 60%;
        margin: 0% 0% 0% 7%;   
    }

    .login-name{
        font-size: large;
        margin: 10% 0% 0% 33%;
    }

    .login-name-content-1{
        margin-right: 10%;
    }

    .login-name-content-2{
        color: #c334eb;
        font-size: x-small;
        margin-left: 2%;
    }



    .login-form{
        width: 100%;
        height: 100%;
        
    }

    .login-input-box{
        margin-bottom: 10%;
        margin-left: 45px;
        display: flex;
        flex-direction: column;
    }

    .login-input-username{
        width: 300px;
        height: 35px;
        margin-bottom: 5%;
        border-radius: 30px;
        border-color: #c334eb;
        margin-top: 2%;
    }

    .login-input-password{
        width: 300px;
        height: 35px;
        border-color: #c334eb;
        border-radius: 30px;
        margin-top: 2%;

    }

    .login-button{
        width: 300px;
        height: 37px;
        border-radius: 30px;
        background-color: #c334eb;
        color: white;
        margin-left: 45px;
        border-color: #c334eb;
    }

    .login-some-content{
        margin-top: 7%;
        margin-left: 30%;       
    }

    .login-forget-password-link{
        text-decoration: none;
        color: black;
        font-size: x-small;

    }

    .login-signin-link{
        text-decoration: none;
        margin-left: 3%;
        color: black;

    }


}